html{font-family:sans-serif;color:#555555;}
#text{
  font-size:200%;
  background:#dddddd;
  width:300px;
  min-height:50px;
  padding:8px 8px 10px 10px;
  color:#000000;
  border:1px solid #cccccc;
}
#butt{font-size:150%;padding:10px;border-radius:3px;}
#reset{font-size:100%;padding:10px;border-radius:3px;}